*{
    font-family: Arial, Helvetica, sans-serif;
}

.section-padding{
    padding: 70px;
}

.carousel-item{
    height: 80vh;
    min-height: 300px;
}

.carousel-caption{
    bottom: 200px;
    z-index: 2;
}

.carousel-caption h5{
    font-size: 45px;

    letter-spacing: 2px;
    margin-top: 25px;
}

.carousel-caption p{
    width: 60%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}

footer{
    background-color: #000000;
    padding: 20px;
    color: white;
    padding-left: 200px;
    padding-right: 200px;
}b

.img-logo{
    width: 200px;
}

.card{
    margin-bottom: 10px;
}

.navbar{
    background-color: #c9efc7;
}

.about-text{
    text-align: center;
    background-color: #c9efc7;
    padding: 20px
}

.about-text{
    background-color: #c9efc7;

}

.section-header{
    background-color: #c9efc7;
    padding: 20px;
    margin-bottom: 20px;
}
